#extractBox{ width:520px; border:1px solid #ccc; margin:0 auto;  }
#extractBox .close{ float:right; padding:3px;}
#extractBox .extractBoxA{ padding-top:12px; height:41px; background:url(plus.jpg) no-repeat center center; padding-left:134px; }
#extractBox .extractBoxA input{ height:21px; line-height:21px; width:221px ; border:none; margin-top:5px;  float:left; }
#extractBox .extractBoxA a{ display:block; height:30px; width:30px; float:left;  padding-left:10px;}