@charset "utf-8";
/* CSS Document */

/*content start
-------------------------------------------------*/

.fileinfo { border:4px solid #f1f1f1; padding:10px; }
.fileinfo h2 { font-weight:bold; }
.fileinfo_l { width:360px; float:left; border-right:1px solid #f1f1f1; margin-right:30px; }
.fileinfo_r { float:left; padding-bottom:10px; }
.fileinfo .line { border-bottom:1px solid #f1f1f1; height:1px; margin:5px 0; overflow:hidden; clear:both; }
.fileinfo a { color:#018EE8; }
.fileinfo object { position:relative; top:8px;}
.fileinfo img { position:relative; top:8px;}
.infoContent{word-break:break-all;}
.infoContent a{ color:#06C;}
.infoContent a:hover{ text-decoration:underline;}

.fileinfo .input{ width:270px; border:1px solid #ccc; height:18px;}
.fileinfo textarea{ width:99%; height:100px; border:1px solid #ccc;}
/*share*/
#jiathis_style_32x32{ height:32px;}

/*guessYouLike*/
.guessYouLike{zoom:1;}
.guessYouLike:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.guessYouLike li{ display:inline;}
.guessYouLike a{ display:block; float:left; height:25px; width:239px; overflow:hidden; margin-right:5px;}
.guessYouLike a:hover{ text-decoration:underline;}

/*link countdown*/
.linkHidden{ display:none;}
.linkTime{ color:#F00;}

/*sitelink*/
.downSite{ height:30px;}
.downSite strong{ float:left;}
.downSite a{ display:block; float:left; width:69px; line-height:28px; height:28px; padding-left:27px; font-weight:bold; color:#3e3e3e; text-align:center; margin-right:10px; background:url(down.png) no-repeat;}
