@charset "utf-8";
/* CSS Document */
#browerNotice{ background:#000; width:100%; height:100%; position:absolute; z-index:1000; filter: Alpha(opacity=70); -moz-opacity:0.7;  opacity:0.7; }
.browerNoticeBody{ background:#fff; border:1px solid #fff; width:300px; height:200px; position:absolute; z-index:1001; left:50%; margin-left:-150px; top:50%; margin-top:-100px;}
